/* Common */

.page-wrapper * {
  margin: 0;
  padding: 0;
  color: #001965;
}

.page-wrapper h3 {
  font-size: 16px;
}

/* Page header */

.page-header {
  width: 488px;
  height: 150px;
  background: url("../img/logo.png");
  margin: 5px 0 28px;
  display: none;
}

/* Container with rounded corners */

.box {
  width: 650px;
  position: relative;
  background-color: transparent;
}

.box-hd, .box-ft {
  background: url("../img/icons.png");
  height: 10px;
  font-size: 0;
}

.box-ft {
  background-position: 0 -20px;
}

.box-bd {
  border-left: 1px #e0ddd8 solid;
  border-right: 1px #e0ddd8 solid;
  padding: 0 8px;
  overflow: hidden;
}

/* Page content */

.page-content {
  min-height: 284px;
  _height: 284px;
  background: url("../img/map.png") center 35px no-repeat;
}

.page-content h3 {
  text-align: center;
  border-bottom: 1px #e0ddd8 solid;
  position: relative;
  padding-bottom: 4px;
  line-height: 1.5em;
  margin-top: 0;
}

#employeesPart, #peopleSupported, #hoursInvested, #activitiesInit {
  float: left;
  width: 50%;
  _width: 366px;
  height: 110px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}

.page-content .left-col {
  text-align: center;
  float: left;
  width: 160px;
  height: 100%;
}

#activitiesInit .left-col {
  background: url("../img/activities.png") center no-repeat;
}

#employeesPart .left-col {
  background: url("../img/employees-part.png") center no-repeat;
}

#peopleSupported .left-col {
  background: url("../img/people-supported.png") center no-repeat;
}

#hoursInvested .left-col {
  background: url("../img/hours-invested.png") center no-repeat;
}

.page-content .right-col {
  padding-top: 25px;
}

.number {
  color: #e64a0e;
  /*font-size: 43px;*/
  font-size: 28px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*#peopleSupported .number {*/
  /*font-size: 28px;*/
/*}*/

/*#hoursInvested .number {*/
  /*font-size: 38px;*/
/*}*/

/* Button */

.rep-button {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 186px;
  margin-left: -93px;
  text-align: center;
  clear: both;
}

a:hover.rep-button {
  text-decoration: none !important;
}

.rep-button-hd {
  display: block;
  height: 8px;
  background: url("../img/icons.png") 0 -40px;
  margin-right: 8px;
  position: relatve;
  font-size: 0;
}

.rep-button-hd span {
  display: block;
  width: 8px;
  height: 8px;
  background: url("../img/icons.png") right -40px;
  position: absolute;
  right: 0;
}

.rep-button em {
  font-style: normal;
  color: #fff;
  background-color: #001965;
  display: block;
  padding: 3px 0 10px;
  font-size: 11px;
}

#s4-statusbarcontainer {
  display: none !important;
}