@blue: #009fda;
@blue-dark: #001965;
@gray: #9a9a9a;
@orange: #e5481a;
@font-color: @orange;
@font-color-dark: @blue-dark;

* {
  outline: none !important;
}

#cboxLoadedContent {
  margin: 0 !important;
}

td.ms-webpartpagedescription {
  display: none !important;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    border-collapse: collapse;
  }
  &:after {
    clear: both;
  }
}

.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
}

.row {
  .clearfix;
}

#survey {
  font: 12px/1 Verdana, Arial, Helvetica, sans-serif;
  padding-top: 85px;
  width: 500px;
  background: url("../img/bg-survey.png") no-repeat 100% 0;
  &, div {
    color: @blue-dark !important;
  }
  .row {
    margin-bottom: 10px;
  }
  input, textarea, select {
    float: left;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid @gray;
  }
  textarea {
    resize: none;
    height: 50px;
    overflow: auto;
  }
  label {
    float: left;
    width: 240px;
    margin-right: 10px;
  }
  .input-short {
    width: 120px;
  }
  b {
    color: red;
    font-weight: bold;
  }
  .invalid {
    border-color: red;
  }
  .submitted-message {
    padding-top: 150px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    display: none;
  }
  &.submitted {
    .default-view {
      display: none;
    }
    .submitted-message {
      display: block;
    }
  }
  .submit-btn {
    display: block;
    height: 40px;
    width: 175px;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    background: @blue-dark;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
  }

  #attachment {
    width: 100%;
    .mainContainer {
      height: 35px;
    }
    .iFrameWindow {
      height: 25px;
      width: 75%;
      left: 0;
    }
    .buttonPane {
      left: auto;
      right: 0;
      width: 120px;
      height: 25px;
      line-height: 23px;
      .upload_button {
        margin: 0 !important;
        cursor: pointer;
        float: right;
        width: 100%;
        height: 100%;
        border: none;
        color: #fff !important;
        background: @blue-dark;
      }
    }
    .spwidget-error-cntr {
      bottom: auto;
      line-height: 1;
      top: 0;
      width: 100%;
      background: #ffffff;
      font-weight: bold;
      padding: 7px 0;
      color: @blue-dark !important;
      span {
        vertical-align: middle;
      }
      .spwidget-msg-cntr {
        margin: 0;
      }
    }
    .loadingOverlay {
      height: 25px;
      .loadingOverlayMsg {
        background-position: 5px 50%;
        > div {
          padding-left: 25px;
        }
      }
    }
  }
}

.survey-results {
  .title {
    margin-bottom: 15px;
    padding: 5px 25px 15px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px !important;
    color: @orange !important;
    font-weight: bold;
  }
  .filters {
    letter-spacing: 5px;
    padding: 0 25px;
    .clearfix;
    .filter-item {
      display: inline-block;
      background: url("../img/bg-filter.gif") no-repeat;
      position: relative;
      padding-left: 2px;
      margin: 3px 0 10px;
      letter-spacing: normal;
      span {
        display: block;
        line-height: 24px;
        height: 24px;
        padding: 0 30px 0 10px;
        font-size: 11px;
        background: url("../img/bg-filter.gif") no-repeat 100% 0;
      }
      select {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        .transparent;
      }
    }
    button {
      display: inline-block;
      background: url("../img/bg-filter-apply.png") no-repeat;
      width: 155px;
      height: 31px;
      line-height: 24px;
      color: #ffffff;
      border: none;
      padding: 0;
      text-align: center;
      font-size: 11px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .filteredList {
    width: 650px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 25px;
    th, td {
      padding: 10px 5px 10px 15px;
      vertical-align: middle;
      font-size: 11px;
      text-align: left;
      &:first-child {
        padding-left: 30px;
      }
    }
    th {
      color: #80766e;
      font-weight: normal;
    }
    tbody td:first-child {
      font-weight: bold;
    }
    .even {
      td {
        background: #ebebeb;
      }
    }
    .col1 {
      width: 90px;
    }
    .col2 {
      width: 70px;
    }
    .col3 {
      width: 90px;
    }
    .col4 {
      width: 50px;
    }
    .show-more {
      display: block;
      cursor: pointer;
      text-align: center;
    }
  }
}

.banner {
  max-width: 100%;
  display: block;
  border: none;
}

#menuBuilder {
  margin-bottom: 25px;
}

.statistic-box {
  overflow: hidden;
  margin-bottom: 25px;
  .number {
    line-height: 1 !important;
  }
  .report-btn {
    display: block;
    cursor: pointer;
    width: 206px;
    height: 37px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../img/btn-report-sm.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -103px;
  }
}

.recent-feed {
  margin-bottom: 25px;
  .title {
    padding: 10px 25px;
    font-weight: bold;
    color: @orange !important;
    font-size: 18px !important;
    .clearfix;
  }
  a.show-more-items {
    float: right;
    background: url("../img/bg-filter-apply.png") no-repeat;
    width: 155px;
    height: 31px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #ffffff !important;
      text-decoration: none;
    }
  }
  .recent-item {
    padding: 15px 25px;
    border-top: 1px solid #e0ddd8;
    .clearfix;
    h2 {
      font-size: 14px;
      margin: 0 0 10px;
      color: @orange;
    }
    img {
      float: left;
      max-width: 120px;
      max-height: 75px;
      height: auto;
      margin: 0 15px 0 0;
    }
    .text-holder {
      padding-right: 160px;
      position: relative;
      overflow: hidden;
      height: 1%;
      .show-more {
        position: absolute;
        top: 0;
        right: 0;
        background: url("../img/bg-show-more.png") no-repeat;
        width: 155px;
        height: 31px;
        line-height: 28px;
        color: @orange;
        text-align: center;
        font-size: 11px;
        cursor: pointer;
        display: block;
        &:hover {
          color: @orange;
          text-decoration: none;
        }
      }

    }
  }
}

.survey-item-details {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  td {
    vertical-align: top;
    padding: 5px;
    text-align: left;
    color: @font-color-dark;
    &:first-child {
      font-weight: bold;
      text-align: right;
      white-space: nowrap;
      width: 1%;
      &:after {
        content: ':';
      }
    }
  }
}

.statistic-box,
.recent-activities-holder {
  display: none; //to prevent old content showing when item placed in static webpart
}