* {
  outline: none !important;
}
#cboxLoadedContent {
  margin: 0 !important;
}
td.ms-webpartpagedescription {
  display: none !important;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.clearfix:after {
  clear: both;
}
.transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.row:after {
  clear: both;
}
#survey {
  font: 12px/1 Verdana, Arial, Helvetica, sans-serif;
  padding-top: 85px;
  width: 500px;
  background: url("../img/bg-survey.png") no-repeat 100% 0;
}
#survey,
#survey div {
  color: #001965 !important;
}
#survey .row {
  margin-bottom: 10px;
}
#survey input,
#survey textarea,
#survey select {
  float: left;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #9a9a9a;
}
#survey textarea {
  resize: none;
  height: 50px;
  overflow: auto;
}
#survey label {
  float: left;
  width: 240px;
  margin-right: 10px;
}
#survey .input-short {
  width: 120px;
}
#survey b {
  color: red;
  font-weight: bold;
}
#survey .invalid {
  border-color: red;
}
#survey .submitted-message {
  padding-top: 150px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  display: none;
}
#survey.submitted .default-view {
  display: none;
}
#survey.submitted .submitted-message {
  display: block;
}
#survey .submit-btn {
  display: block;
  height: 40px;
  width: 175px;
  line-height: 40px;
  text-align: center;
  color: #fff !important;
  background: #001965;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
}
#survey #attachment {
  width: 100%;
}
#survey #attachment .mainContainer {
  height: 35px;
}
#survey #attachment .iFrameWindow {
  height: 25px;
  width: 75%;
  left: 0;
}
#survey #attachment .buttonPane {
  left: auto;
  right: 0;
  width: 120px;
  height: 25px;
  line-height: 23px;
}
#survey #attachment .buttonPane .upload_button {
  margin: 0 !important;
  cursor: pointer;
  float: right;
  width: 100%;
  height: 100%;
  border: none;
  color: #fff !important;
  background: #001965;
}
#survey #attachment .spwidget-error-cntr {
  bottom: auto;
  line-height: 1;
  top: 0;
  width: 100%;
  background: #ffffff;
  font-weight: bold;
  padding: 7px 0;
  color: #001965 !important;
}
#survey #attachment .spwidget-error-cntr span {
  vertical-align: middle;
}
#survey #attachment .spwidget-error-cntr .spwidget-msg-cntr {
  margin: 0;
}
#survey #attachment .loadingOverlay {
  height: 25px;
}
#survey #attachment .loadingOverlay .loadingOverlayMsg {
  background-position: 5px 50%;
}
#survey #attachment .loadingOverlay .loadingOverlayMsg > div {
  padding-left: 25px;
}
.survey-results .title {
  margin-bottom: 15px;
  padding: 5px 25px 15px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 18px !important;
  color: #e5481a !important;
  font-weight: bold;
}
.survey-results .filters {
  letter-spacing: 5px;
  padding: 0 25px;
}
.survey-results .filters:before,
.survey-results .filters:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.survey-results .filters:after {
  clear: both;
}
.survey-results .filters .filter-item {
  display: inline-block;
  background: url("../img/bg-filter.gif") no-repeat;
  position: relative;
  padding-left: 2px;
  margin: 3px 0 10px;
  letter-spacing: normal;
}
.survey-results .filters .filter-item span {
  display: block;
  line-height: 24px;
  height: 24px;
  padding: 0 30px 0 10px;
  font-size: 11px;
  background: url("../img/bg-filter.gif") no-repeat 100% 0;
}
.survey-results .filters .filter-item select {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  opacity: 0;
}
.survey-results .filters button {
  display: inline-block;
  background: url("../img/bg-filter-apply.png") no-repeat;
  width: 155px;
  height: 31px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.survey-results .filteredList {
  width: 650px;
}
.survey-results table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 25px;
}
.survey-results table th,
.survey-results table td {
  padding: 10px 5px 10px 15px;
  vertical-align: middle;
  font-size: 11px;
  text-align: left;
}
.survey-results table th:first-child,
.survey-results table td:first-child {
  padding-left: 30px;
}
.survey-results table th {
  color: #80766e;
  font-weight: normal;
}
.survey-results table tbody td:first-child {
  font-weight: bold;
}
.survey-results table .even td {
  background: #ebebeb;
}
.survey-results table .col1 {
  width: 90px;
}
.survey-results table .col2 {
  width: 70px;
}
.survey-results table .col3 {
  width: 90px;
}
.survey-results table .col4 {
  width: 50px;
}
.survey-results table .show-more {
  display: block;
  cursor: pointer;
  text-align: center;
}
.banner {
  max-width: 100%;
  display: block;
  border: none;
}
#menuBuilder {
  margin-bottom: 25px;
}
.statistic-box {
  overflow: hidden;
  margin-bottom: 25px;
}
.statistic-box .number {
  line-height: 1 !important;
}
.statistic-box .report-btn {
  display: block;
  cursor: pointer;
  width: 206px;
  height: 37px;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../img/btn-report-sm.png") no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -103px;
}
.recent-feed {
  margin-bottom: 25px;
}
.recent-feed .title {
  padding: 10px 25px;
  font-weight: bold;
  color: #e5481a !important;
  font-size: 18px !important;
}
.recent-feed .title:before,
.recent-feed .title:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.recent-feed .title:after {
  clear: both;
}
.recent-feed a.show-more-items {
  float: right;
  background: url("../img/bg-filter-apply.png") no-repeat;
  width: 155px;
  height: 31px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}
.recent-feed a.show-more-items:hover {
  color: #ffffff !important;
  text-decoration: none;
}
.recent-feed .recent-item {
  padding: 15px 25px;
  border-top: 1px solid #e0ddd8;
}
.recent-feed .recent-item:before,
.recent-feed .recent-item:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.recent-feed .recent-item:after {
  clear: both;
}
.recent-feed .recent-item h2 {
  font-size: 14px;
  margin: 0 0 10px;
  color: #e5481a;
}
.recent-feed .recent-item img {
  float: left;
  max-width: 120px;
  max-height: 75px;
  height: auto;
  margin: 0 15px 0 0;
}
.recent-feed .recent-item .text-holder {
  padding-right: 160px;
  position: relative;
  overflow: hidden;
  height: 1%;
}
.recent-feed .recent-item .text-holder .show-more {
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/bg-show-more.png") no-repeat;
  width: 155px;
  height: 31px;
  line-height: 28px;
  color: #e5481a;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  display: block;
}
.recent-feed .recent-item .text-holder .show-more:hover {
  color: #e5481a;
  text-decoration: none;
}
.survey-item-details {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.survey-item-details img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.survey-item-details td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
  color: #001965;
}
.survey-item-details td:first-child {
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}
.survey-item-details td:first-child:after {
  content: ':';
}
.statistic-box,
.recent-activities-holder {
  display: none;
}
