<script type="text/x-handlebars-template" id="template-stat-box">
    <div class="box-hd"></div>
    <div class="box-bd page-content">
        <h3>TakeAction 2016 in numbers</h3>
        <div id="activitiesInit">
            <div class="left-col"></div>
            <div class="right-col">
                <span class="number"><%=item.activities%></span>
                <p>activities</p>
            </div>
        </div>
        <div id="employeesPart">
            <div class="left-col"></div>
            <div class="right-col">
                <span class="number"><%=item.employees%></span>
                <p>employees participating</p>
            </div>
        </div>
        <div id="peopleSupported">
            <div class="left-col"></div>
            <div class="right-col">
                <span class="number"><%=item.people%></span>
                <span>people supported</span>
            </div>
        </div>
        <div id="hoursInvested">
            <div class="left-col"></div>
            <div class="right-col">
                <span class="number"><%=item.hours%></span>
                <span>hours invested</span>
            </div>
        </div>
        <a class="report-btn" href="#">REPORT YOUR ACTIVITY</a>
    </div>
    <div class="box-ft"></div>
</script>

<script type="text/x-handlebars-template" id="template-survey-results">
    <div class="survey-results">
        <div class="box">
            <div class="box-hd"></div>
            <div class="box-bd">
                <div class="title">Filter submitted TakeAction activities</div>
                <div class="filters">
                    <div class="filter-item">
                        <span>Year</span>
                        <select class="filter-list" name="year">
                            <option value="" selected>Year</option>
                            <% _.each(years, function(year) { %>
                            <option value="<%=year%>"><%=year%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-item">
                        <span>Country</span>
                        <select class="filter-list" name="country">
                            <option value="" selected>Country</option>
                            <% _.each(countries, function(country) { %>
                            <option value="<%=country%>"><%=country%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-item">
                        <span>Type of activity</span>
                        <select class="filter-list" name="type">
                            <option value="" selected>Type of activity</option>
                            <% _.each(types, function(type) { %>
                            <option value="<%=type%>"><%=type%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-item">
                        <span>Employees</span>
                        <select class="filter-list" name="employees">
                            <option value="" selected>Employees</option>
                            <option value="1-5">1-5</option>
                            <option value=">5-10">&gt;5-10</option>
                            <option value=">10-20">&gt;10-20</option>
                            <option value=">20">&gt;20</option>
                        </select>
                    </div>
                    <button class="filter-apply" type="button">Filter</button>
                </div>
            </div>
            <div class="box-ft"></div>
        </div>
        <div class="filteredList"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="template-survey-results-list">
    <table>
        <thead>
        <tr>
            <th class="col1">Activity</th>
            <th class="col2">Country</th>
            <th class="col3">Type</th>
            <th class="col4">Employees</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <% if (collection.length) { %>
        <% _.each(collection, function(item, index) { %>
        <% if (index < limit) { %>
        <tr>
            <td><a href="#" data-id="<%=item.ID%>" class="survey-item"><%=item.Title%></a></td>
            <td><%=item.Country%></td>
            <td><%=item.ActivityType%></td>
            <td><%=item.Employees%></td>
            <td><%=item.DescriptionShort%></td>
        </tr>
        <% } %>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="5"><strong>Sorry, no items matched selected filters.</strong></td>
        </tr>
        <% } %>

        <% if (collection.length > limit) { %>
        <tr>
            <td colspan="5"><strong class="show-more">Show more</strong></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="template-survey-results-popup">
    <table class="survey-item-details">
        <tbody>
        <% if (item.Title) { %>
        <tr>
            <td>Title</td>
            <td><%=item.Title%></td>
        </tr>
        <% } %>
        <% if (item.Country) { %>
        <tr>
            <td>Country</td>
            <td><%=item.Country%></td>
        </tr>
        <% } %>
        <% if (item.ActivityType) { %>
        <tr>
            <td>Type</td>
            <td><%=item.ActivityType%></td>
        </tr>
        <% } %>
        <% if (item.DateStart) { %>
        <tr>
            <td>Date</td>
            <td><%=item.DateStart%></td>
        </tr>
        <% } %>
        <% if (item.Initials) { %>
        <tr>
            <td>Initials</td>
            <td><%=item.Initials%></td>
        </tr>
        <% } %>
        <% if (item.Hours) { %>
        <tr>
            <td>Hours</td>
            <td><%=item.Hours%></td>
        </tr>
        <% } %>
        <% if (item.SupportedPeople) { %>
        <tr>
            <td>People Supported</td>
            <td><%=item.SupportedPeople%></td>
        </tr>
        <% } %>
        <% if (item.Employees) { %>
        <tr>
            <td>Number of employees</td>
            <td><%=item.Employees%></td>
        </tr>
        <% } %>
        <% if (item.FundsRaised) { %>
        <tr>
            <td>Funds Raised</td>
            <td><%=item.FundsRaised%></td>
        </tr>
        <% } %>
        <% if (item.Description0) { %>
        <tr>
            <td>Description</td>
            <td><%=item.Description0%></td>
        </tr>
        <% } %>
        <% if (item.Notes0) { %>
        <tr>
            <td>Quote</td>
            <td><%=item.Notes0%></td>
        </tr>
        <% } %>
        <% if (item.imageUrl) { %>
        <tr>
            <td>Attachment</td>
            <td><img src="<%=item.imageUrl%>" alt="<%=item.Title%>"></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="template-recent-activities">
    <div class="box recent-feed">
        <div class="box-hd"></div>
        <div class="box-bd">
            <div class="title">
                Latest submitted activities
                <a class="show-more-items" target="_blank"
                   href="/CR/CC/CorpCom/branding/takeaction/Report-your-activity/Pages/default.aspx">
                    View all activities
                </a>
            </div>
            <% _.each(collection, function(item) { %>
            <div class="recent-item">
                <% if (item.imageUrl) { %>
                <img src="<%=item.imageUrl%>" alt="<%=item.Title%>">
                <% } %>
                <h2><%=item.Title%></h2>
                <div class="text-holder">
                    <strong>Country:</strong> <%=item.Country%><br>
                    <strong>Initials:</strong> <%=item.Initials%><br>
                    <% if (item.Employees) { %>
                    <strong>Number of employees:</strong> <%=item.Employees%><br>
                    <% } %>
                    <strong>People supported:</strong> <%=item.SupportedPeople%>
                    <a href="#" class="show-more" data-id="<%=item.ID%>">Show more</a>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="box-ft"></div>
    </div>
</script>

<!--css-->
<link rel="stylesheet" href="/CR/CC/CorpCom/branding/takeaction/ta_award/Template/css/main.css"/>
<link rel="stylesheet" href="/CR/CC/CorpCom/branding/takeaction/menu/takeaction-01/stylesheets/menu_builder.css"/>
<link rel="stylesheet" href="/CR/CC/CorpCom/branding/takeaction/menu/takeaction-01/stylesheets/style.css"/>
<link rel="stylesheet" href="/Style%20Library/GNM2/Css/GNM2_Colorbox.css"/>
<link rel="stylesheet" href="/sites/activityreporting/System/css/style.css"/>

<!--javascript-->
<script type="text/javascript" src="/Style%20Library/GNM2/js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/jquery.SPServices-2014.02.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/jquery.xml2json.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/dataService.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/underscore-min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/backbone-min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/common.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/models.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/views.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/main.js"></script>