<a class="report-btn" href="#"><img src="/CR/CC/CorpCom/branding/takeaction/Template/img/report-activity.png" alt="Report your activity" border="0" style="border: 0;"></a>
<link rel="stylesheet" href="/Style%20Library/GNM2/Css/GNM2_Colorbox.css"/>
<script type="text/javascript" src="/Style%20Library/GNM2/js/jquery.colorbox-min.js"></script>
<script type="text/javascript">
    (function ($) {
        $('.report-btn').click(function (e) {
            e.preventDefault();
            $.colorbox({
                iframe: true,
                innerWidth: 540,
                innerHeight: 630,
                href: '/sites/activityreporting/System/html/survey.html',
                closeButton: false
            });
        });
    })(jQuery);
</script>