<div style="width: 650px;">
    <img class="banner" src="/sites/activityreporting/System/img/banner-results.jpg" alt="TakeAction results">

    <div id="menuBuilder">
        <button class="nav-button button bar"><i class="icon_menu_handle"></i><span class="text_menu_link">MENU</span></button>
        <div id="nav" class="nav">
            <ul id="mainmenu" class="nav-collapse">
                <li id="menu_1" class="menu_1 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Pages/home.aspx" target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Home</span>
                    </a></li>
                <li id="menu_2" class="has-flyout menu_2 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/About-TakeAction/Pages/default.aspx"
                       target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">About TakeAction</span>
                    </a>
                </li>
                <li id="menu_3" class="menu_3 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Inspiration-and-guidelines/Pages/default.aspx"
                       target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Be inspired</span>
                    </a></li>
                <li id="menu_4" class="has-flyout menu_4 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Report-your-activity/Pages/default.aspx"
                       target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Report your activity</span>
                    </a>
                </li>
                <li id="menu_5" class="menu_5 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/ta_award/Pages/home.aspx" target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">TakeAction Award</span>
                    </a>
                </li>
                <li id="menu_6" class="menu_6 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Donations-and-fundraising/Pages/default.aspx"
                       target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Donations &amp; fundraising</span>
                    </a>
                </li>
                <li id="menu_8" class="menu_8 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Managers-site/Pages/default.aspx" target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Manager's site</span>
                    </a>
                </li>
                <li id="menu_9" class="menu_9 menu_items">
                    <a href="http://globeshare.novonordisk.com/CR/CC/CorpCom/branding/takeaction/Merchandise-and-downloads/Pages/default.aspx"
                       target="_parent">
                        <span class="icon_menu_handle"></span>
                        <span class="text_menu_link">Merchandise and toolbox</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="statistic-box box" data-list="TakeAction_Activities"></div>
    <div class="survey-results-holder" data-list="TakeAction_Activities" data-limit="5"></div>
</div>
