<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Survey Form</title>
    <link rel="stylesheet" href="/sites/activityreporting/System/css/bootstrap-datepicker.standalone.min.css"/>
    <link rel="stylesheet" href="/sites/activityreporting/System/css/style.css"/>
</head>
<body>

<div id="survey" data-list="TakeAction_Activities">
    <div class="default-view">
        <div class="step-1">
            <div class="row">
                <label for="activityName">Name of activity<b>*</b></label>
                <input type="text" name="Title" id="activityName" maxlength="50" required>
            </div>
            <div class="row">
                <label for="activityType">Type of activity<b>*</b></label>
                <select name="ActivityType" id="activityType" required></select>
            </div>
            <div class="row">
                <label for="activityCountry">Country<b>*</b></label>
                <select name="Country" id="activityCountry" required></select>
            </div>
            <div class="row">
                <label for="dateStart">Activity date<b>*</b></label>
                <input name="DateStart" id="dateStart" type="text" class="date-picker input-short" required>
            </div>
            <div class="row">
                <label for="activityInitials">Your initials<b>*</b></label>
                <input name="Initials" id="activityInitials" type="text" class="input-short" required>
            </div>
            <div class="row">
                <label for="activityEmployees">Number of employees participated in activity<b>*</b></label>
                <input name="Employees" id="activityEmployees" type="number" data-type="number" class="input-short" required>
            </div>
            <div class="row">
                <label for="activityHours">Total number of hours spent on activity (no. of employees x no. of hours)<b>*</b></label>
                <input name="Hours" id="activityHours" type="number" data-type="number" class="input-short" required>
            </div>
            <div class="row">
                <label for="activityPeople">Number of people supported through the activity<b>*</b></label>
                <input name="SupportedPeople" id="activityPeople" type="number" data-type="number" class="input-short" required>
            </div>
            <div class="row">
                <label for="activityDescription">Detailed description of activity<b>*</b></label>
                <textarea name="Description0" id="activityDescription" cols="30" rows="6" required></textarea>
            </div>
            <div class="row">
                <label for="activityNotes">Quote</label>
                <textarea name="Notes0" id="activityNotes" cols="30" rows="6"></textarea>
            </div>
            <div class="row">
                <label for="fundsRaised">Funds raised (USD)</label>
                <input name="FundsRaised" id="fundsRaised" type="number" data-type="number" class="input-short">
            </div>
            <button type="button" class="next-step-btn submit-btn">Next step</button>
        </div>
        <div class="step-2" style="display: none">
            <div class="row">
                <div id="attachment"></div>
            </div>
            <button type="button" class="final-step-btn submit-btn">Skip and submit</button>
        </div>
    </div>
    <div class="submitted-message">
        <strong>Thank you for submitting your TakeAction activity!</strong>
    </div>
</div>

<!--javascript-->
<script type="text/x-handlebars-template" id="template-options-list">
    <option value="" selected disabled>--select something--</option>
    <% _.each(collection, function(item) { %>
    <option value="<%=item.Title%>"><%=item.Title%></option>
    <% }) %>
</script>
<script type="text/javascript" src="/_layouts/STYLES/GlobeShare/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/jquery.SPServices-2014.02.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/jquery.SPWidgets.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/jquery.xml2json.min.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/dataService.js"></script>
<script type="text/javascript" src="/sites/activityreporting/System/js/lib/underscore-min.js"></script>
<script type="text/javascript">
    if (!Date.prototype.toISOString) {
        (function () {
            function pad(number) {
                if (number < 10) {
                    return '0' + number;
                }
                return number;
            }

            Date.prototype.toISOString = function () {
                return this.getUTCFullYear() +
                        '-' + pad(this.getUTCMonth() + 1) +
                        '-' + pad(this.getUTCDate()) +
                        'T' + pad(this.getUTCHours()) +
                        ':' + pad(this.getUTCMinutes()) +
                        ':' + pad(this.getUTCSeconds()) +
                        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
                        'Z';
            };
        }());
    }

    (function ($) {
        var D = DataService.getInstance(),
                templateList = _.template($('#template-options-list').html()),
                $wrapperEl = $('#survey'),
                $stepOneEl = $wrapperEl.find('.step-1'),
                $stepTwoEl = $wrapperEl.find('.step-2'),
                listTitle = $wrapperEl.attr('data-list'),
                $inputEl = $wrapperEl.find('*[name]'),
                queryOpt = {
                    'CountryListLookup': {
                        CAMLQuery: '<Query><OrderBy><FieldRef Name="Title" Ascending="TRUE"/></OrderBy></Query>'
                    }
                },
                isNum = function (val) {
                    return /^\d+$/.test(val);
                },
                valuepairs = [];

        D.get(['CountryListLookup', 'Activity - Types'], queryOpt).then(function (resObj) {
            var countries = resObj['CountryListLookup']['array'],
                    activityTypes = resObj['Activity - Types']['array'];

            $('#activityCountry').html(templateList({collection: countries}));
            $('#activityType').html(templateList({collection: activityTypes}));

            $('.next-step-btn').on('click', function () {
                var isValid = true;

                $inputEl.each(function () {
                    var $this = $(this);
                    var val = $.trim($this.val());

                    if ($this.attr('required') && !val ||
                            $this.attr('required') && ($this.attr('type') === 'number' || $this.attr('data-type') === 'number') && !isNum(val) ||
                            val && ($this.attr('type') === 'number' || $this.attr('data-type') === 'number') && !isNum(val)) {
                        isValid = false;
                        $this.addClass('invalid');
                    } else {
                        $this.removeClass('invalid');
                    }
                });

                if (!isValid) {
                    alert('Please, fill all required fields');
                    return false;
                }

                $inputEl.each(function () {
                    var $this = $(this);
                    var title = $this.attr('name');
                    var val = $.trim($this.val());
                    var newPair;

                    if ($this.hasClass('date-picker')) {
                        var date = new Date(val);

                        date.setHours(0, -date.getTimezoneOffset(), 0, 0);
                        val = date.toISOString();
                    } else if (isNum(val)) {
                        val = +val;
                    }
                    newPair = [title, val];
                    valuepairs.push(newPair);
                });
                $stepTwoEl.show();
                $stepOneEl.hide();
            });

            $('.final-step-btn').on('click', function () {
                $().SPServices({
                    operation: 'UpdateListItems',
                    async: false,
                    batchCmd: 'New',
                    listName: listTitle,
                    valuepairs: valuepairs,
                    completefunc: function (xData, status) {
                        if (status === 'success') {
                            $wrapperEl.addClass('submitted');
                        } else {
                            alert(status);
                        }
                    }
                });
            });

            $('#attachment').SPControlUpload({
                listName: listTitle,
                selectFileMessage: '<span style="color:#001965 !important">Photo from activity: <strong>upload here (only 1 photo)</strong></span>',
                onPageChange: function (ev) {
                    if (ev.state === 3 && ev.action === 'postLoad') {
                        $(this).html('<strong>File successfully uploaded!</strong>');

                        $().SPServices({
                            operation: 'UpdateListItems',
                            async: false,
                            batchCmd: 'Update',
                            listName: listTitle,
                            ID: ev['file']['ID'],
                            valuepairs: valuepairs,
                            completefunc: function (xData, status) {
                                if (status === 'success') {
                                    $wrapperEl.addClass('submitted');
                                } else {
                                    alert(status);
                                }
                            }
                        });
                    }
                }
            });
        });

        $('.date-picker').datepicker({
            orientation: 'right',
            format: 'dd MM yyyy',
            autoclose: true
        });
    })(jQuery);
</script>
</body>
</html>